*{
    margin:0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing:border-box;
}
body{
    background: #222;

}

#q{
    width: 20px;
    
}
.card{
   
    width:90%;
    max-width: 470px;
    /* background:linear-gradient(120 deg, rgb(90, 147, 183), white); */
    background: linear-gradient( rgb(30, 149, 188), rgb(171, 219, 235)) ;
    margin: 100px auto;
    border-radius: 20px;
    padding: 40px,35px;
    text-align: center;
    
}
.search{
    width:100%;
    padding: 50px;
   
    
    align-items: center;
    
}
button{
   border-radius: 20px;
   translate: 0 4px;
   width: 10%;
   height: 10%;
   cursor: pointer;
}
.search button img{
    border: none;
    width: 16px;
    border-radius: 10px;
    translate: px 0px;
   
    
}

.search input{
    border:0;
    outline:0;
    background:#ebfffc;
    border-radius: 20px;
    padding: 10px;


}
.weather-icon{
    width:50%;

}
.humid{
    width: 10%;
}
.info{
    
    display: flex;
    justify-content: space-between;
    padding:10px 0px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.windy{
    width: 15%;
    translate: -20px;

}
#hum{
    translate: 0px;
}
.humid{
    translate: 0px;;

}
#win{
    translate: -20px;
}
.humidity{
    translate:0px 5px

}
.wind p{
    translate: -20px;
}



.txt-field{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 40px;
}
